.App {
  margin-left: 24%;

  & .right-content {
    width: 94%;
    padding-top: 24px;

    & .chart-container {
      width: 1024px;
      margin: 40px auto;

      &.pie-chart {
        width: 470px;
      }
    }
  }
}